[submodule "Core"]
	path = core-layer/Core
	url = git@github.com:tanakorn-dev/poc-core.git
[submodule "Discover"]
	path = application-layer/Discover
	url = git@github.com:tanakorn-dev/pic-discover.git
[submodule "UseCase"]
	path = communication-layer/UseCase
	url = git@github.com:tanakorn-dev/poc-usecase.git